* {
	margin: 0;
	padding: 0;
}

/* mac hide \*/
html, body{
	height: 100%;
	width: 100%;
}
/* end hide */

body {
	background-color: #cccccc;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	min-height: 600px;/* for good browsers*/
	min-width: 400px;/* for good browsers*/
}

div#outer{
	height: 100%;
	width: 100%;
	display: table;
	vertical-align: middle;
}

div#container {
	text-align: center;
	position: relative;
	vertical-align: middle;
	display: table-cell;
	height: 600px;
}

div#inner {
	width: 400px;
	height: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* ----- */

body {
	font-family: Arial;
	font-size: 14px;
}

div#header_title {
	border-bottom: 3px black dashed;
	font-size: 200%;
}
div#header_path {
	padding: 10px;
	border-top: 3px black dashed;
	border-left: 3px black solid;
	border-right: 3px black solid;
	border-bottom: 1px black dashed;
	background-color: #ffffff;
}

div#content {
	padding: 10px;
	background-color: #ffffff;

	border-left: 3px black solid;
	border-right: 3px black solid;
	border-bottom: 3px black dashed;
}

div#content_albums {
	padding-bottom: 10px;
}

div#content_photos, div#content_videos {
}

div#content_flashs {
}

div#content div#albums {
	background-color: #ffffff;
}

div#footer {
	font-size: 0.75em;
	font-weight: bold;
	border-top: 3px black dashed;
	padding-top: 10px;
}

/* ----- */

a:link, a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}


